<mat-card *ngIf="!isNewUser" class="loginCard">
  <mat-card-header>
    <mat-card-title>Login </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="formContainer">
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="loginData.email" name="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="loginData.password" name="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="failedAuthenticationMessage">{{failedAuthenticationMessage}}</mat-error>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="login()" type="submit" [disabled]="loginForm.form.invalid">LOGIN</button>
    <button mat-button (click)="createNewUser()">Create New User</button>
  </mat-card-actions>
</mat-card>

<!--here is the create new user card and logic-->
<mat-card *ngIf="isNewUser" class="loginCard">
  <mat-card-header>
    <mat-card-title>New Account </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="createAccount()" #newUserForm="ngForm">
      <div class="formContainer">
        <mat-form-field>
          <input matInput placeholder="First name" [(ngModel)]="newUserData.profile.firstName" name="firstName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last name" value="" [(ngModel)]="newUserData.profile.lastName" name="lastName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="newUserData.email" name="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password"  [type]="hide ? 'password' : 'text'"
                 [(ngModel)]="newUserData.password" name="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div class="height">
          <mat-form-field>
            <input matInput placeholder="Height" value="" [(ngModel)]="feet" name="feet">
            <span matSuffix>ft</span>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Height" value="" [(ngModel)]="inches" name="in">
            <span matSuffix>in</span>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input matInput type="number" placeholder="Weight" value="" [(ngModel)]="newUserData.profile.weight" name="weight">
          <span matSuffix>lbs</span>
        </mat-form-field>
        <mat-radio-group [(ngModel)]="newUserData.profile.gender" name="gender">
          <mat-radio-button value="Male" >Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
          <input matInput min="1900-01-01" max="2018-01-01" placeholder="Date of Birth" type="date" value=""
                 [(ngModel)]="newUserData.profile.dob" name="dob" required>
        </mat-form-field>

        <!--&lt;!&ndash;<mat-form-field>&ndash;&gt; implemment if i have time-->
          <!--<input matInput placeholder="Re-enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmPass"-->
                 <!--name="password2" (keyup.enter)="checkIfPasswordSame" required>-->
          <!--<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
        <!--</mat-form-field>-->
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="createNewUser()" mat-button>Go Back</button>
    <button mat-button (click)="createAccount()" type="submit" [disabled]="newUserForm.form.invalid">Create Account</button>
  </mat-card-actions>
</mat-card>


