.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer > * {
  width: 100%;
}

.loginCard {
  //max-width: 400px;
  width: 400px;
  margin: auto;
  margin-top: 20px;

  //center the card
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
