<div class="center">
  <h1 >Dashboard</h1>
  <h3>Hey, {{name}}! {{positiveGreeting}}</h3>

  <mat-card class="dashboardCard">
    <mat-card-header>
      <mat-card-title> <mat-icon>movie_creation</mat-icon> GIF of the day</mat-card-title>
    </mat-card-header>
    <mat-card-content [innerHTML]="GIFofTheDay">
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboardCard">
    <mat-card-header>
      <mat-card-title><mat-icon>whatshot</mat-icon> Discover your macros</mat-card-title>
    </mat-card-header>
    <mat-card-content style="min-width: 400px;">
      <google-chart [data]="barChart"></google-chart>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/diet">Calculate your macros</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="dashboardCard">
    <mat-card-header>
      <mat-card-title> <mat-icon>insert_chart</mat-icon> Your Current BMI </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Your BMI is {{bmi}}, which puts you in {{message}}
      </p>

      <div class="bar">
        <div class="categories" id="underweight">Underweight</div>
        <div class="categories" id="normal">Normal</div>
        <div class="categories" id="overweight">Overweight</div>
        <div class="categories" id="obese">Obese</div>
        BMI Categories
      </div>
      <p>Ranges: Underweight is 0 - 18.5 || Normal is 18.5 - 25  </p>
      <p>Overweight is 25 - 30 || Obese is 30 and higher </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboardCard">
    <mat-card-header>
      <mat-card-title><mat-icon>flash_on</mat-icon> Generate Workout </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Create a new workout for your day by randomly generating a new workout to help with muscle confusion and
        effectively hit different muscle groups without the hassle of having to come up with a new workout yourself.
        You can also browse the different exercises here.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/exercise">Create Routine</button>
    </mat-card-actions>
  </mat-card>
</div>



