<h1>Dashboard</h1>

<div class="center">
  <mat-card class="dashboardCard">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Macros for the day</mat-card-title>
    </mat-card-header>
    <!-- can throw in pic here -->
    <mat-card-content>
      <p>here is where the content will be Lorem ipsum dolor set amet
        Lorem ipsum dolor set amet Lorem ipsum dolor set amet Lorem ipsum
        dolor set amet Lorem ipsum dolor set amet</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/diet">GO TO COMPONENT</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="dashboardCard">
    <mat-card-header>
      <mat-card-title>Your Current BMI</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{userData?.profile.firstName}}'s BMI is {{bmi }}
      </p>
      <div *ngIf="gaugeChart" style="margin-left: 20px;">
        <google-chart [data]="gaugeChart"></google-chart>
      </div>
      <p>{{message}}</p>

    </mat-card-content>
  </mat-card>
  <mat-card class="dashboardCard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Generate workout</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        texty text text
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/exercises">GO TO COMPONENT</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="dashboardCard">
    <mat-card-header>
      <mat-card-title>Chart of data</mat-card-title>
    </mat-card-header>
    <mat-card-content >

    </mat-card-content>
  </mat-card>
</div>
<google-chart [data]="pieChart"></google-chart>



<h1>Weight over time</h1>
<div style="max-width: 700px;">
  <google-chart [data]="lineChart"></google-chart>
</div>


