@import '@angular/material/prebuilt-themes/indigo-pink.css';
@primary: #3f51b5;
@accent: #fff;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: linear-gradient(to top, @accent 0%, @primary 100%);
}
.center {
  text-align: center;
}
